body {
  margin: 0;
  background-color: #1b1b1b;
  color: #fff;
  overflow:auto;
}
#webview {
  visibility: hidden;
}
#searchList {
  text-align: center;
  margin: 0 auto;
}
#searchBox {
  margin-top: 25px;
  font-size: 22pt;
  width: 95%;
  background-color: #ccc;
  border: 2px solid #aaa;
  outline: none;
}
#searchResults {
  display: none;
  text-align:left;
  font-size: 14pt;
  margin-left: 4%;
  width: 90%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #999;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
a {
  color: #000;
}
#content {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow:hidden;
}
