.tscache/
.baseDir.ts
data/videoDB
build/
bower_components/
public/components/
public/scripts/
node_modules/
browsers/
nwjs/
electron/
node.exe
node.lib
npm-debug.log
.vscode/
.vs/
bin/
packages/
obj/
debug.log
*.exe
*.dll
*.csproj.user