<div id="ui"></div>

<script src="http://localhost:62375/socket.io/socket.io.js"></script>

<script src="/scripts/command-input-ui.js"></script>
<script src="/scripts/youtube-ui.js"></script>
<script src="/scripts/video-list-ui.js"></script>
<script src="/scripts/toby-ui.js"></script>
