<!DOCTYPE html>
<html>

<head>
  <title>{{{title}}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=VT323" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/app.css" />

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/keymaster/keymaster.js"></script>
  <script src="/components/socket.io-client/dist/socket.io.js"></script>

</head>

<body>
  {{{body}}}
</body>

</html>