<!DOCTYPE html>
<html>

<head>
  <title>{{{title}}}</title>

  <link rel="stylesheet" href="/components/font-awesome/web-fonts-with-css/css/fontawesome.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=VT323" />
  <link rel="stylesheet" href="/stylesheets/app.css" /> {{!--
  <script src="http://localhost:8097"></script> --}}

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/react/react.production.min.js"></script>
  <script src="/components/react/react-dom.production.min.js"></script>
  <script src="/components/keymaster/keymaster.js"></script>
  <script src="/components/socket.io-client/dist/socket.io.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>