body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 24pt;
  overflow: hidden;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#ui:hover {
  overflow-y: scroll;
}

#player {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

* {
  font-family: 'VT323', sans-serif;
}

pre {
  outline: none !important;
  border-left: 4px solid black;
  background-color: #eee;
  white-space: pre-wrap;
  margin-left: 40px !important;
  margin-right: 40px !important;
}

blockquote {
  border-left: 4px solid black;
  background-color: #eee;
  padding: 10px;
}

/* Command Input */

.command-container {
  padding-left: 10px;
  font-size: 22pt;
}

.command-input {
  border: none;
  outline: none;
  padding-left: 2px;
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 24pt;
  background-color: #000;
  color: #fff;
}

/* Content Panel */

.content-panel {
  padding-left: 10px;
  padding-bottom: 25px;
  font-size: 20px;
}

/* misc */

.thumbnailIMGWidth {
  width: 50px;
}

.buttonContainerWidth {
  width: 1px;
  white-space: nowrap;
}

.textAlignMiddle {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:hover td {
  background-color: #003e80;
  color: #fff;
  text-shadow: 0 0 6px #001130;
  font-weight: bold;
  cursor: pointer;
}

tr:hover td.border-left {
  border-radius: 8px 0 0 8px;
}

tr:hover td.border-right {
  border-radius: 0 8px 8px 0;
}

.alignDiv {
  display: inline-block;
  vertical-align: middle;
}

.videoTitle {
  cursor: default;
}

.videoThumbnail {
  margin-top: 4px;
  padding: 6px;
  width: 90px;
}

.videoThumbnailSlim {
  margin-left: 5px;
  margin-top: 4px;
  padding: 6px;
  width: 80px;
  border: 4px solid black;
}

.videoThumbnailSlim:hover {
  border: 4px solid #003e80;
}

.videoAddedNotification {
  position: fixed;
  border: 2px solid #001130;
  background-color: #003e80;
  color: #fff;
  padding: 10px;
  top: 5px;
  right: 5px;
  font-size: 11pt;
  z-index: 10000;
}

.manageButton {
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 2px;
}

.manageButton:hover {
  color: #999;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.saturate {
  -webkit-filter: saturate(2.5);
}

.sepia {
  -webkit-filter: sepia(1);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #999;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}

/* Select style borrowed from: http://codepen.io/AmrSubZero/pen/dxpri */

select {
  background-color: #357;
  background-repeat: no-repeat;
  background-position: right 10px top 10px;
  background-size: 11px 11px;
  padding: 8px;
  width: auto;
  font-family: arial, tahoma;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  /*-webkit-appearance: none;*/
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

select:focus,
select:active {
  border: 0;
  outline: 0;
}

.groupDropDown:hover {
  background-color: #123;
}

.groupDropDownDisabled {
  margin-right: 5px;
  background-color: #333;
  width: 110px;
}

.groupDropDown {
  margin-right: 5px;
  width: 110px;
}

#version {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-weight: bold;
  color: #444;
  opacity: .5;
}